extends ../layout

block content
  .card
    h2 현재 주문 내역
    if items.length === 0
      .empty-state 주문 내역이 없습니다.
    else
      table
        thead
          tr
            th 메뉴
            th 수량
            th 단가
            th 합계
        tbody
          each it in items
            tr
              td= it.menu
              td= it.num + '개'
              td= it.price + '원'
              td= (it.price * it.num) + '원'
        tfoot
          tr
            td(colspan="3")
              b 총합계
            td(colspan="1")
              b= total + '원'
    
    p
      if finished
        span.status-finished 주문 완료됨
      else
        span.status-pending 주문 진행 중
    
    if !finished && items.length > 0
      form(method="GET" action="/customer/order.html" style="display: inline;")
        input(type="hidden" name="action" value="finish")
        input(type="hidden" name="tid" value=tid)
        input.button.success(type="submit" value="주문 확정 하기")